Suggestion for a different response code for invalid credentials in password grant

**Description:**
When we give invalid credentials while calling "/token" endpoint with password grant, the server returns HTTP status code 400 in response.

**Sample request for token on a newly installed APIM setup:**
`curl -L -w "\\n%{http_code} %{url_effective}\\n" -k -X POST https://localhost:8243/token -d "grant_type=password&username=admin01&password=admin" -H "Authorization: Basic <client_key:client_secret>"`

**Response:**
{"error_description":"Authentication failed for admin01","error":"invalid_grant"}
Http error code: 400 (Bad request)

**Expectation:**
Usually, HTTP error code 401 is used as the response code for invalid credentials. 
Error code 400 indicates ([RFC 7231, section 6.5.1: 400 Bad Request](https://tools.ietf.org/html/rfc7231#section-6.5.1)):
> The 400 (Bad Request) status code indicates that the server cannot or will not process the request due to something that is perceived to be a client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).

Please note that, if Basic header is wrong, server returns 401 status code in response but 400 for invalid credentials.
With 400 response code, there is a confusion if the request itself was invalid.

Tested with APIM Version: 3.0.0, 2.6.0

**Solution:**
Change the response code to 401 or a custom error code (if needed) when credentials are invalid to avoid confusion.

**I would like to contribute towards the solution if the team thinks this is a valid issue.**
Attaching screenshot for reference.
![APIM_RES_CODES](https://user-images.githubusercontent.com/59166722/71355430-001db580-25a5-11ea-8b5c-b4266c9cd7c8.JPG)


Hi @ankit-agrawal07 

Please go ahead with the contribution.

